Checks: '*,
-readability-implicit-bool-conversion,
-cppcoreguidelines-no-malloc,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-cstyle-cast,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-bounds-constant-array-index,
-modernize-use-auto,
-modernize-use-nullptr,
-modernize-avoid-c-arrays,
-modernize-deprecated-headers,
-modernize-use-trailing-return-type,
-hicpp-vararg,
-hicpp-no-malloc,
-hicpp-use-auto,
-hicpp-no-array-decay,
-hicpp-avoid-c-arrays,
-hicpp-no-assembler,
-hicpp-deprecated-headers,
-google-readability-casting,
-fuchsia-statically-constructed-objects,
-clang-diagnostic-unknown-attributes,
-android-*
'
